.salescenter-company-contacts-wrapper {
    display: flex;
    margin: -15px -15px -20px;
}

.salescenter-company-contacts-item {
    flex: 1;
    position: relative;
    /*overflow: hidden;*/
    padding: 23px;
    background: #fff;
}

.salescenter-company-contacts-item--gray {
    display: flex;
    margin-left: 16px;
    padding-bottom: 0;
    flex-direction: column;
    align-items: center;
    background: rgba(255,255,255,.5);
}

.salescenter-company-contacts-area {
    display: block;
    overflow: hidden;
    padding-bottom: 15px;
    margin-bottom: 18px;
    border-bottom: 1px solid rgba(82,92,105,.1);
}

.salescenter-company-contacts-area-item {
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
}

.salescenter-company-contacts-text {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #858c96;
    line-height: 18px;
    margin-bottom: 10px;
}

.salescenter-company-contacts-text--link {
    display: inline-block;
    cursor: pointer;
    color: #2066b0;
    border-bottom: 1px dashed rgba(39,107,179,.4);
}

.salescenter-company-contacts-text--link:hover {
    border-bottom: 1px dashed rgba(39,107,179,.8);
}

.salescenter-company-contacts-title {
    width: 375px;
    margin-bottom: 19px;
    font-family: "OpenSans-Light", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #525c69;
}

.salescenter-company-contacts-item-preview {
    flex: 1;
    overflow: auto;
    width: 375px;
    scrollbar-arrow-color: #ccc;
    scrollbar-track-color: transparent;
    scrollbar-base-color: #ccc;
    scrollbar-shadow-color: #fff;
    scrollbar-highlight-color: #fff;
    -webkit-transition: .2s;
    transition: .2s;
}

.salescenter-company-contacts-item-preview::-webkit-scrollbar {
    width: 6px;
}

.salescenter-company-contacts-item-preview::-webkit-scrollbar-track {
    background: transparent;
}

.salescenter-company-contacts-item-preview::-webkit-scrollbar-thumb {
    background: #dde2e6;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    opacity: .4;
    -webkit-transition: .2s;
    transition: .2s;
}

.salescenter-company-contacts-item-preview:hover::-webkit-scrollbar-thumb {
    background: #d1d6da;
}

.salescenter-company-contacts-item-preview:hover::-webkit-scrollbar-thumb:hover {
    background: #c8cdd2;
}

.salescenter-company-contacts-item-preview-image {
    display: block;
    width: 375px;
    height: 1021px;
    background: url(images/salescenter-company-contacts-prev.png) center no-repeat;
    background-size: 100%;
}

.salescenter-company-contacts-panel {
    position: absolute;
    left: -24px;
    right: 0;
    bottom: 0;
    box-shadow: 0 -2px 4px 0 #c6c9cb;
    background: #fff;
    text-align: center;
    padding: 13px;
    z-index: 9;
}